<% unless notice.nil? %>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h2 class="subtitle" id="notice">
          <%= notice %>
        </h2>
      </div>
    </div>
  </section>
<% end %>

<section class="section">
  <div class="container has-text-centered	">
    <%= image_tag("brand.png", class: "img-responsive", width: "300") %>
    <h2 class="subtitle">
      Book A Ticket & Just Leave.
    </h2>
  </div>
</section>

<section class="section columns is-centered">
  <div class="box column is-two-thirds">
    <%= render "search_form" %>
  </div>
</section>

<section class="section columns is-centered is-vcentered">
  <div class="container column columns is-centered is-vcentered is-two-thirds">
    <%= render "search_results" %>
  </div>
</section>
